/*
 * Edit / New Newsletter
 */

.easymail-edit-recipients ul {
	font-size: 11px;
}

.easymail-edit-recipients ul.level-1st {
	padding: 0.5em;
	background-color: #EAF2FA;
	margin-bottom: 0.5em;
}

.easymail-edit-recipients ul.level-2st {
	padding-left: 1em;
}

.easymail-edit-recipients ul li input[type=checkbox] {
	float: right;	
}

.easymail-edit-recipients ul li.list-title {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}

.easymail-edit-recipients ul li {
}

.easymail-alert {
 	background-color: #FFFFE0;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #E6DB55;
    margin: 0.5em auto;
    padding: 0.8em;
}

.easymail-txtwarning {
 	color: #f00;
}


/*
 * Table List Newsletters
 */
 
td.column-easymail_status img {
	vertical-align: text-top;
}

td.column-easymail_status .status-completed {
	font-weight: bold;
	color: #090;
}

td.column-easymail_status .status-onsending {
	font-style: italic;
}

td.column-easymail_status .status-paused {
	font-weight: bold;
	color: #999;
}

.column-easymail_recipients ul li {
	margin-bottom: 0;
}

.easymail-recipients-done {
	background-color: #FFFF99;
}

.easymail-refresh-column-status {
	cursor: pointer;
}


/*
 * Newsletters Recipients Thickbox
 */

body#easymail-recipients-body {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

body#easymail-recipients-body h3 {
	border-bottom: 1px dotted #efefef;
	padding-bottom: 1em;
}

#ajaxloop-response {
	font-size: 11px;
	padding: 0 30px;
}

#easymail-recipients-navbar {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #efefef;
	height: 35px;
	padding-top: 15px;
}

a.easymail-navbutton {
   	border-color: #BBBBBB;
    color: #464646;
    -moz-box-sizing: content-box;
    border-radius: 11px 11px 11px 11px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 11px !important;
    line-height: 13px;
    padding: 4px 9px;
    text-decoration: none;
    background-color: #F2F2F2;
    text-shadow: 0 1px 0 #FFFFFF;    
}

a.easymail-navbutton-primary {
    font-weight: bold;
}

a.easymail-navbutton:hover {
    color: #000;
    border-color: #666;
}

#alo-easymail-bar-outer {
	width: 90%;
	border: 1px solid #ccc;
	height:	22px;
	margin: 0 auto;
}

#alo-easymail-bar-inner {
	background-color: #21759B;
	background-image: url("../images/pbar-ani.gif");
	height:	22px;	
	text-align: center;
}

#alo-easymail-bar-inner.stopped {
	background-color: #90abc6;
	background-image: url("../images/pbar.jpg");
}

